# /sys/devices/virtual/camera/*/*_camfw
# /dev/m2m1shot_jpeg
allow cameraserver camera_device:file { read open getattr };
allow cameraserver camera_device:chr_file { read open getattr };
