allow fingerprintd tee_device:chr_file { open read write ioctl };
allow fingerprintd secmem_device:chr_file { open read write ioctl };
allow fingerprintd vfs_device:chr_file { open read write ioctl };
allow fingerprintd biometrics_data_file:dir { rmdir read write remove_name create open add_name search };
allow fingerprintd biometrics_data_file:file { write create read rename open getattr unlink };
allow fingerprintd system_data_file:dir { rmdir read write remove_name create open add_name search };
allow fingerprintd tee:unix_stream_socket { connectto };
allow fingerprintd power_hal_data_files:file rw_file_perms;
