allow hal_fingerprint_default tee_device:chr_file { open read write ioctl };
allow hal_fingerprint_default secmem_device:chr_file { open read write ioctl };
allow hal_fingerprint_default vfs_device:chr_file { open read write ioctl };
allow hal_fingerprint_default biometrics_data_file:dir { rmdir read write remove_name create open add_name search };
allow hal_fingerprint_default biometrics_data_file:file { write create read rename open getattr unlink };
allow hal_fingerprint_default system_data_file:dir { rmdir read write remove_name create open add_name search };
allow hal_fingerprint_default tee:unix_stream_socket { connectto };
allow hal_fingerprint_default power_hal_data_files:file rw_file_perms;