allow hal_wifi_hostapd wifi_efs_file:dir search;
allow hal_wifi_hostapd wifi_efs_file:file { read open };
allow hal_wifi_hostapd netd:unix_dgram_socket sendto;
