# /efs
allow mediaserver efs_file:dir r_dir_perms;

# /efs/wv.keys
allow mediaserver efs_file:file r_file_perms;

# /dev/m2m1shot_jpeg
allow mediaserver camera_device:chr_file { read write open getattr ioctl };

#============= mediaserver ==============
allow mediaserver cameraproxy_service:service_manager find;
allow mediaserver mediaserver_tmpfs:file { read write };
allow mediaserver system_data_file:sock_file write; 

# Snap permissions
allow mediaserver sensorservice_service:service_manager { find };
allow mediaserver system_server:unix_stream_socket { read write };

# CamFW permission
allow mediaserver camera_device:file { read open getattr };
allow mediaserver camera_device:dir search;

#
# All our codecs run in the mediaserver process for now because of
# media.stagefright.less-secure.
# The rules below should be moved to mediacodec.te once this is fixed.
#
# BEGIN

# /dev/s5p-smem
allow mediaserver secmem_device:chr_file { ioctl rw_file_perms };

# /system/lib/omx/
allow mediaserver system_file:dir r_dir_perms;

# /sys/class/video4linux/video6/name
allow mediaserver sysfs:file r_file_perms;

# END
