#### sensorhubservice
#
type sensorhubservice, domain, domain_deprecated;
type sensorhubservice_exec, exec_type, file_type;

init_daemon_domain(sensorhubservice)
