allow system_app sysfs_mdnie_writable:{ file lnk_file } { write rw_file_perms };
allow system_app sysfs_mdnie_writable:dir search;
# allow system_app sysfs:file write;
# allow system_app netd_service:service_manager find;
