# mobicore

# Allow to create files and directories /data/app/mcRegistry
file_type_auto_trans(tee, apk_data_file, tee_data_file);

allow tee property_socket:sock_file write;
allow tee init:unix_stream_socket connectto;
