#### wifiloader
#
type wifiloader, domain, domain_deprecated;
type wifiloader_exec, exec_type, file_type;

init_daemon_domain(wifiloader)

allow wifiloader proc:file r_file_perms;
