on boot
    write /sys/devices/system/cpu/cpu0/cpufreq/cafactive/timer_rate 20000
    write /sys/devices/system/cpu/cpu0/cpufreq/cafactive/timer_slack 20000
    write /sys/devices/system/cpu/cpu0/cpufreq/cafactive/min_sample_time 40000
    write /sys/devices/system/cpu/cpu0/cpufreq/cafactive/hispeed_freq 900000
    write /sys/devices/system/cpu/cpu0/cpufreq/cafactive/go_hispeed_load 89
    write /sys/devices/system/cpu/cpu0/cpufreq/cafactive/target_loads 75 1200000:85
    write /sys/devices/system/cpu/cpu0/cpufreq/cafactive/above_hispeed_delay 39000 1200000:19000

    write /sys/devices/system/cpu/cpu4/cpufreq/cafactive/timer_rate 20000
    write /sys/devices/system/cpu/cpu4/cpufreq/cafactive/timer_slack 20000
    write /sys/devices/system/cpu/cpu4/cpufreq/cafactive/min_sample_time 40000
    write /sys/devices/system/cpu/cpu4/cpufreq/cafactive/hispeed_freq 900000
    write /sys/devices/system/cpu/cpu4/cpufreq/cafactive/go_hispeed_load 89
    write /sys/devices/system/cpu/cpu4/cpufreq/cafactive/target_loads 75 1200000:85
    write /sys/devices/system/cpu/cpu4/cpufreq/cafactive/above_hispeed_delay 39000 1200000:19000
